/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

/*
This rule changes the background of the entire page and makes it an image I found online instead of a solid color.
 */
body{
    padding: 30px;
    background: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-53322.jpg");
}

h2{
    font-size:35pt;
    text-align: center;
}

img.pic{
    height: 150px;
}
/*
This rule makes it so the divs within the style class and the main-title id are centered on the page.
This also makes the divs are semi-transparent and they have a curve around the edges.
 */
.section, #main-title{
    border-radius: 25px;
    padding: 20px 0;
    margin-top: 50px;
    width: 100%;
    display: inline-block;
    background-color: rgba(255,255,255,.75);
}

/*
This rule makes it so the faculty photos are in a horizontal line rather than a vertical line.
 */
#faculty ul li{
    display: inline-block;
    padding: 20px;
}

/*
This rule allows the faculty photos to be centered within the div rather than off to the left.
This is also an example of nesting.
 */
#faculty ul {
    display: block;
    padding: 0;
    max-width: 754px;
    margin: 0 auto;

}

#pslo {
    margin-top: 0;
}

#pslo ol {
    font-size: 28px;
    padding-left: 75px;
    padding-right: 75px;
}

#courses ul{
    font-size: 28px;
    padding-left: 75px;
    padding-right: 75px;
}

/*
Example of grouping and also an example of a class.
 */
.name, .office{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#main-title {
    text-align: center;
    font-size: 60pt;
    color: black;
}

#style ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(255,255,255,.75);
    display: inline-block;
    padding: 0;
    width: 100%;
    margin-top: 0;
}

#style li {
    float: left;
}

#style li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px; /*this adds some spacing around the items in my style footer*/
    text-decoration: none;
}

#style li a:hover {
    background-color: rgba(128,128,128,0.75);
}

/*
With this rule, I made it so the nav bar is always at the top and it is semi-transparent.
Also, this is an example of an id.
 */
#style {
    position: absolute;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    height: 55px;
}

