/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
    background-color: #3399ff;
}
#main-title{
    font-family: 'Alfa Slab One', cursive;
    font-size: 80pt;
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
    background-color: darkgrey;
}
.pslo{
    background-color: green;
}
#style li{
    background-color: darkgrey;
    padding:20px;
    float:left;
}
#style ul{
    list-style-type:none;
}
