/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
    background-color: rgba(195, 159, 14, 0.67);
    font-family: 'PT Sans', sans-serif;
}
#main-title{
    font-size: 50pt;
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
    background-color: slategray;
    margin-left:60px;
    margin-right:60px;
}
#style li:hover{
    background-color: #7d8d9c;
}
#style{
    position:absolute;
    top:40px;
    left:33px;
}
#style li{
    float:left;
    font-family: 'PT Sans', sans-serif;
    background-color: transparent;
    padding-left:30px;
    padding-right:30px;
    padding-top:15px;
    padding-bottom:15px;
}
#style ul{
    list-style-type:none;
}

#pslo li{
    list-style-type:upper-roman;
    padding-top:0px;
    padding-bottom:15px;
}

a{
    text-decoration: none;
    color:black;
}
.section{
    background-color:slategray;
    margin-left:60px;
    margin-right:60px;
}
h2{
    background-color: #5d6c7d;
    text-align: center;
    padding:30px;
    font-size:20pt;
}

#courses li{
    list-style-type:square;
    padding-top:0px;
    padding-bottom:5px;
}
#faculty>ul>li {
    display: inline-block;
    font-family: sans-serif;
    padding: 30px;
}

#faculty-list {
    padding-left: 0
}

img.pic {
    height: 150px;
    border: 4px solid #000000;
}
.name{
    
}
